@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,300&family=Tiro+Bangla:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    }
    
    body {
        font-family: sans-serif; 
        font-weight: 300; 
        color: #3a3a3a;
    }

    /* headings and logo */
h1, h2 {
    font-family: Tiro Bangla;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    }

    #logo {
        float: left;
        font-size: 200%;
        margin-left: 30px;
    }

    /*navigation links */

#menu {
    font-size: 100%;
    letter-spacing: 4px;

}

#menu #logo {
    line-height: 70px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    }
    
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
    
    .active {
        border-bottom: 1px solid #3a3a3a;
    }

    /* Yoga image */ 

#Yoga-life {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2{
    color: #fff
}

#Yoga-life {
    height: 600px;
    width: 100%;
    background: url(../images/backgroundyoga.jpg);
    }

/* yoga benefits */ 

#yoga-info {
    height: 600px;
}

#center-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: silver;
}


/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}


/* gallery */ 

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;

}

#photos > img{
    width: 100%;
}

#yogatogether{
    background-color: rgb(255, 255, 128);
}

.about{
    width: 100%;
    padding: auto;
    background-color: bisque;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
} 

#photos {
    column-count: 3;

}
/* For small screen sizes 800px and down */
@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    /* #menu {
         clear: left;
         float: left;
         margin-left: 30px;
         margin-bottom: 20px;
         line-height: 25px;
         */ 
     }

     /* event times */

#times {
    background: url(../images/backgroundyoga.jpg); 
 background-position: center bottom;
 width: 20%;
 height: 300px;
 float: left;
 padding: 30px 0 0 10px;
 text-align: center;
 border: 2px solid white;
 box-sizing: border-box;

 }






    

    













    