@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,300&family=Tiro+Bangla:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    }
    
    body {
        font-family: sans-serif; 
        font-weight: 300; 
        color: #3a3a3a;
    }