@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@1&family=Laila&family=Source+Serif+Pro:ital,wght@1,300&family=Tiro+Tamil&family=Yanone+Kaffeesatz:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    }
    
    body {
        font-family: Laila;
        font-weight: 300; 
        color: #3a3a3a;
    }

    /* headings and logo */
h1, h2 {
    font-family: Tiro Bangla;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    }

    #logo {
        float: left;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 35px;
        line-height: 25px;
        border-radius: 4px;
		}

    /*navigation links */

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    float: right;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    line-height: 10px;
    border-radius: 4px;

}


#menu #logo {
    line-height: 70px;
   
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
   
  
}

#menu a {
    text-decoration: none;
    color: inherit;
   
    }
    
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
        
    }
    
    .active {
        border-bottom: 1px solid #3a3a3a;
    }

    /* Yoga image */ 

#Yoga-life {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2{
    color: #fff
}

#Yoga-life {
    height: 600px;
    width: 100%;
    background: url(../images/backgroundyoga.jpg);
    }

/* yoga benefits */ 

#yoga-info {
    height: 600px;
}

#center-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: silver;
}


/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}


/* gallery */ 

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;

}

#photos > img{
    width: 100%;
}

#yogatogether{
    background-color: rgb(255, 255, 128);
}

.about{
    width: 100%;
    padding: auto;
    background-color: bisque;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
} 

#photos {
    column-count: 3;

}
/* For small screen sizes 800px and down */
@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
    #welcome {
        font-size: 2.1rem;
      
    }
}

/* For medium screen sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    /* #menu {
         clear: left;
         float: left;
         margin-left: 30px;
         margin-bottom: 20px;
         line-height: 25px;
         */ 
     }

     @import url("https://fonts.googleapis.com/css?family=Roboto:400");

    
     #Signup{
         font-family: 'Roboto', sans-serif;
         font-weight: 400;
     }
     
    
     
     
     * focus {
         outline: 0;
     }
     
     body {
         background:white; 
     }
     
     h3 {
         text-align: center;
     }
     
    
     .container {
         padding: 12px 24px 24px 24px;
         margin: 48px 12px;
         background: #E3F2FD;
         border-radius: 4px;
         line-height: 10px;
         
     }
/*navigation links */
     #signup {
        font-size: 100%;
        letter-spacing: 4px;
        float: right;
        color: black;
        text-align: center;
        padding: 1px;
        text-decoration: none;
        font-size: 15px;
        line-height: 10px;
        border-radius: 4px;
     }

     #signup li {
        float: right;
        list-style-type: none;
        margin-right: 30px;
       }

       #signup a {
        text-decoration: none;
        color: inherit;
       
        }

        #signup a:hover {
            border-bottom: 1px solid #3a3a3a;
            }

           




    
     
     /* Add styles to 'label' selector */
     label {
         font-size: 0.85em;
         margin-left: 12px;
     }
     
     /* Add styles to 'input' and 'textarea' selectors */
     input[type=text],input[type=email], textarea {
         width: 100%;
         padding: 12px;
         border: 1px solid #ccc;
         border-radius: 4px;
         box-sizing: border-box;
         margin-top: 6px;
         margin-bottom: 16px;
         resize: vertical;
     }
     
     /* Add styles to show 'focus' of selector */
     input[type=text]:focus,input[type=email]:focus, textarea:focus {
         border: 1px solid green;
     }
     
     /* Add styles to the submit button */
     input[type=submit] {
         background: #64B5F6;
         margin: 0 auto;
         outline: 0;
         color: white;
         border: 0;
         padding: 12px 24px;
         border-radius: 4px;
         transition: all ease-in-out 0.1s;
         position: relative;
         display: inline-block;
         text-align: center;
     }
     
     /* Add styles for 'focus' property */
     input[type=submit]:focus {
         background: #A5D6A7;
         color: whitesmoke;
     }
     
     /* Style 'hover' property */
     input[type=submit]:hover {
         background: #2196F3;
     }
     
     /* Align items to center of the 'div' with the class 'center' */
     .center {
         text-align: center;
     }

     .column {
        float: left;
        width: 30%;
        padding: 5px;
      }
      
      /* Clear floats after image containers */
      .row::after {
        clear: both;
        display: table;
      }

      .row {
        display:table-row;
      }
      
      .column {
        flex: 30%;
        padding: 5px;
      }

    .content {
        width:100%;
        position: center;
        top: 70%;
        text-align: center;
        height: 100%;
     }

     .content h1{
        font-size: 50px;
        text-align: center;
        position: relative;
        top: 50%;
       
     }
  
     .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
       
      }

     

    
      
    






    

    













    